.buy-form{
    background-color: #3c8c36;
    height: 60px;
    margin: 40px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.buy-button{
    height:100%;
    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 1.1em;
}

.buy-button:hover{
    font-weight: bold;
    background:#50b948;
}

.buy-input{
    width:  100%;
    height: 100%;
    border: 0;
}