.table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: calc(100% / 7);    
    line-height: 40px;
  }

  .company-data{
    background-color: #1a283a; 
  }

