.table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: calc(100% / 7);    
    line-height: 40px;     
    vertical-align: center;
    margin: 2px 0;

  }

  .company-data{
    background-color: #1a283a; 
  }

