.table{
  display: table;         
  width: 100%;         
  background-color: none;         
  border-spacing: 4px; /* cellspacing:poor IE support for  this */

}

.table-head{
  font-weight: bold;
  background: #192330; 
}

.table-row {
  display: table-row;
  width: auto;
  clear: both;
}

.table-info {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 100%;    
  line-height: 40px;
  font-style: italic;
}