@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #27282e;
}

h2{
    margin: 0 0 10px 0;
    font-size: 1.2em;
    text-transform: uppercase;
}
input{
    padding: 0;
    margin: 0;
    border: none;
}
.header{
    background: black;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel{
    background: #2f425a;
    color: white;
    width: 90%;
    padding: 20px 40px;
    margin: 10px 0;
    text-align: center;
}

.green{
    color:#50b948;
}
.company-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;

}
.company{
    background: #1a283a;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.company img{
    width: 100%;
}

.company-name{
    font-weight: bold;
}

.company-rate{
    margin: 0 0px;
}

.buy-form{
    background-color: #3c8c36;
    height: 60px;
    margin: 40px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.buy-button{
    height:100%;
    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 1.1em;
}

.buy-button:hover{
    font-weight: bold;
    background:#50b948;
}

.buy-input{
    width: calc( 100% / 2);
    font-size: 2em;
    padding:10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid > span {
    padding: 10px 4px;
    background: #1a283a;
    margin: 4px 0;
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.5); */
}

.grid > .sell-company {
    background: #a02323;
    cursor: pointer;
}
.grid > .sell-company:hover {
    background: red;
    font-weight: bold;
}
.company-data-container{
    margin: 10px;
}

.company-data-row{
    margin: 5px 40px;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0e1621;
}

/* DIV TABLE */
.table{
    display: table;         
    width: 100%;         
    background-color: none;         
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
}

.table-head{
    font-weight: bold;
}

.table-row {
    display: table-row;
    width: auto;
    clear: both;
}

.table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: calc(100% / 7);    
    line-height: 40px;     
    vertical-align: center;
    background-color: #1a283a; 
  }

.sell-company {
    background: #a02323;
    cursor: pointer;
}

.sell-company:hover {
    background: red;
    font-weight: bold;
}