.PositionRow {
    width: calc(100% / 1.2);
    font-size: calc(10px + 0.6vmin);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  
.PositionData{
    vertical-align: top;
    padding-top: 8px;
    width: calc(100% / 7);
    text-align: center;
}
