.dashboard-container{
  width: 100%;
}
.dashboard-row {
    background: #161618;
    width: 80%;
    height: 40px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    font-size: calc(10px + 0.6vmin);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }