@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #27282e;
}

h2{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  text-transform: uppercase;
}

.header{
  background: black;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}