.App {
  text-align: center;
}

.App-header {
  background-color: #27282e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainRow {
  background: #161618;
  width: 80%;
  height: 40px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  font-size: calc(10px + 0.6vmin);
  margin-bottom: 10px;
  display: flex;
}