@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #27282e;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}

h2{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  text-transform: uppercase;
}
.app{
  margin: 0;
  padding: 0;
}

.panel{
  background: #2f425a;
  color: white;
  width: 90%;
  max-width: 1300px;
  padding: 20px 40px;
  margin: 10px 0;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.green{
  color:#50b948;
}

.red{
  color:red;
}